.navbar {
  width: 100%;
  height: 50px;
  padding: 0 5%;
}

.navbar h3 {
  font-family: "BeaufortB";
  font-size: 42px;
  color: #D6B663;
  text-shadow: 2px 2px 4px #805E42;
}
 .navbar h2 {
  font-family: 'BeaufortB';
  font-size: 18px;
 }
