// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Custom Fonts
@font-face {
  font-family: 'BeaufortB';
  src: url('BeaufortforLOL-Bold.ttf');
}

@font-face {
  font-family: 'BeaufortBI';
  src: url('BeaufortforLOL-BoldItalic.ttf');
}

@font-face {
  font-family: 'SpiegelRegular';
  src: url('Spiegel_TT_Regular.ttf');
}

@font-face {
  font-family: 'SpiegelSB';
  src: url('Spiegel_TT_SemiBold.ttf');
}

@font-face {
  font-family: 'SpiegelB';
  src: url('Spiegel_TT_Bold.ttf');
}

@font-face {
  font-family: 'SpiegelBI';
  src: url('Spiegel_TT_Bold_Italic.ttf');
}
